*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vh;
}
/* HEADER */
#site_header{
    height: 200px;
    background-color:#fdbb40;
}
/* MAIN */
.burger_name{
    width: 500px;
    height: 40px;
    border: none;
    font-size: large;
}
.icons{
    width: 60px;
    height: auto;
}
.discount_length{
    width: 500px;
}

/* FOOTER */
#site_footer{
    height: 150px;
    background-color: #d33359;
}